$primary-color: #444;
$back-color: rgb(78, 112, 158);
$secondary-color: yellow;
$show-home-image: true;
$home-image: url(../../img/yo.jpeg);
$background-opacity: 0.7;


@mixin easeOut {
    transition: all 0.5s ease-out;
};

@mixin background{
    @if $show-home-image {
        &#bg-img{
            background: $home-image;
            background-attachment: fixed;
            background-size:  cover;
            
            &:after{
                content: '';
                position: absolute;
                top : 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($back-color, $background-opacity);

            }
        }
        
    }

}


html{
    font-size: 15px;
}

* {
    box-sizing: border-box;
}

body {
    @include background();
    background: $primary-color;
    color: #ffffff;
    height: 100%;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

h1, h2,h3{
    margin: 0;
    font-weight:400;
    &.lg-heading{
        font-size: 5rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: white;
    text-decoration: none;
    //padding-left: 0.5rem;
}

header{
    position: fixed;
    z-index: 2;
}

.text-secondary{
    color: $secondary-color;
}

main{
    padding: 4rem;
    height: 100%;

    .icons {
        margin-top: 1rem;
        a{
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();

            }
        }
    }
}

#home {
    overflow: hidden;
    h3{
        margin-top: 20vh;
    }
}